<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" >
  <!-- 
  (click)="onSelect(hero)" 
  [class.selected]="hero === selectedHero"
  [class.antyHero]="hero.badHabit != undefined">
  -->
  <a routerLink="/detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}  
    </a>
  </li>
</ul>


<button (click)="getNumber()" >Click me</button>
<div *ngIf="buttonOn === true">
  <ul class ="notDefinedClass">
    <li *ngFor="let someNumber of someNumbers" >
      {{ someNumber }}
   </li>
  </ul>
</div> 
<app-hero-detail [hero]="selectedHero"></app-hero-detail>